.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: clamp(20%, 90ch, 80%);
  gap: 2rem;
}

.menu-cell {
  border: 1px solid white;
  background-color: white;
  color: var(--red);
  padding: 1rem;
}

.menu-desc {
  color: black;
  text-align: start;

}

.menu-pic {
  height: 10rem;
  /* margin-top: 2rem; */
}